.workIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem;
}

.worksImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;

}

.work1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.portfolio {
    height: 20rem;
    width: 20rem;
}

.work2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}